html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

    background: #3f4755;
    min-width: 1000px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: none;
}

* {
    font-family: 'Open Sans', sans-serif;
    color: #3f4755;
    font-size: 14px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: none;
    text-decoration: none;

}

img {
    display: inline-block;
    position: relative;
}

input {
    outline: none;
    border-radius: 0;
    border: none;
    background: transparent;
}

select {
    border-radius: 6px;
    height: 32px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}

.container {
    text-align: center;
    background: #4b5565; /* #283649; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 680px;
}

.container.color {
    background: #373e4a;
    animation-name: colorate;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.container .content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -311px;
}

.container .logo {
    margin-bottom: 100px;
    display: inline-block;
}

.container .logo .head {
    font-size: 4.4rem;
    color: #3c6689;
}

.container .logo .sub {
    font-size: 1.2rem;
    color: #444;
    margin-top: -4px;
    text-align: right;
}

.container .modal {
    width: 400px;
    height: 420px;
    background-color: #fff;
    position: relative;
    /* box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2); */
}

.container .modal .title {
    font-size: 2rem;
    font-weight: 300;
    color: #34495e;
    padding: 30px 0;
}

.container .modal .reg {
    padding: 25px 0;
    border-top: 1px solid #bbb;
    font-size: 1.2rem;
    color: #4e7fa9;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container .modal .reg a {
    font-size: 1.3rem;
    color: #4e7fa9;
}

.container .modal form input {
    display: inline-block;
    margin: 10px 0;
    border-bottom: 2px solid #bbb;
    width: 72%;
    padding: 0 3%;
    font-size: 1.05rem;
    height: 40px;

    transition: border 0.25s ease-out;
}

.container .modal form input:focus {
    border-bottom-color: #4e7fa9;
}

.container .modal form .button {
    margin: 30px 0;
    font-size: 1.15rem;
    color: #fff;
    padding: 10px 0;
    width: 35%;
    display: inline-block;
    background: #3c6689;
    transition: all 0.3s ease-out;

    cursor: pointer;
    cursor: hand;
}

.container .modal .wrong_data {
    margin-top: -5px;
    color: #a71f1f;
    padding: 0 20px;
    display: block;
    font-size: 1.1rem;
}

::-webkit-input-placeholder {color: #aaa;}
::-moz-placeholder          {color: #aaa;}/* Firefox 19+ */
:-moz-placeholder           {color: #aaa;}/* Firefox 18- */
:-ms-input-placeholder      {color: #aaa;}

/* Main pages */

select {
    border-radius: 6px;
    height: 32px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}

.both {
    clear: both;
}

h1 {
    font-size: 60px;
}

aside {
    background: #3f4755;
    width: 320px;
    height: 100%;
    position: fixed;
    top: 37px;

    overflow-y: scroll;
}

.main {
    background: #f1f1f1;
    display: inline-block;
    position: absolute;
    right: 0;
    left: 300px;
    top: 37px;
    min-width: 688px;
    min-height: 100%;

    transition: transform 0.3s ease-out;
}

.main.translated {
    /*left: 47px;*/
    right: -226px;
    transform: translateX(-226px);
}

header {
    background: #f1f1f1;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #ddd;
}

aside .logo {
    height: 90px;
    text-align: center;
    display: table;
    width: 320px;
}

aside .logo_text {
    display: table-cell;
    vertical-align: middle;
}

aside .logo_text_head {
    color: #3c6689;
    font-size: 34px;
    display: block;
    margin-left: -20px;
}

aside .logo_text_sub {
    color: #aaa;
    font-size: 12px;
    display: block;
    margin-top: -3px;
    margin-left: 80px;
}

aside .menu {
    width: 320px;
}

aside .menu li {
    border-top: 1px solid #464e5c;
    list-style-type: none;
}

aside .menu li .elem {
    color: #fff;
    padding: 15px 0;
    display: block;
    padding-left: 16px;
    transition: 0.3s ease-out;
    position: relative;
    padding-right: 30px;

    cursor: pointer;
    cursor: hand;
}

aside .menu li .elem a {
    color: #fff;
}

aside .menu li img {
    width: 16px;
    vertical-align: top;
    margin-right: 16px;
    margin-top: 2px;
    transition: 0.3s ease-out;
}

aside .menu li img.slided {
    margin-left: 12px;
    margin-right: 28px;
}

aside .menu li .elem.slideda {
    padding-top: 20px;
    padding-bottom: 20px;
}

aside ul.menu li .elem:hover {
    background: #545d6d;
}

aside ul.menu li .elem.current {
    background: #545d6d;
    border-left: 4px solid #4e7fa9;
}

aside ul.menu li .elem .menu_icon {
    background-image: url(../images/right_white.png);
    height: 10px;
    width: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    right: 40px;
    margin-top: 4px;
    background-position: center;
    cursor: pointer;
    transition: 0.3s ease-out;
    background-size: 5px;
}

aside ul.menu li .elem .menu_icon.closed {
    transform: rotate(0deg);
}

aside ul.menu li .elem .menu_icon.opened {
    transform: rotate(90deg);
}

aside ul.sub_menu {
    display: none;
}

aside ul.sub_menu > li > .elem {
    padding-left: 62px;
    background: #3a414e;
}

aside ul.sub_menu > li > ul > li > .elem {
    padding-left: 78px;
    background: #333a45;
}

aside ul.sub_menu > li > ul > li > ul > li > .elem {
    padding-left: 94px;
    background: #2b313a;
}

.main .user {
    padding: 0 3%;
}

.main .user img {
    width: 26px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #fff;
    padding: 8px;
    border-radius: 40px;
}

.main .user .text {
    display: inline-block;
    color: #637086;
    line-height: 90px;
    font-size: 2rem;
    font-weight: 300;
    /*color: #373e4a;*/
}

.main .cart {
    display: inline-block;
    line-height: 91px;
    padding: 0 44px;
    transition: background 0.3s ease-out;
    position: relative;
}

.main .cart.active {
    background: rgba(147, 167, 198, 0.21);
}

.main .cart:hover {
    background: rgba(147, 167, 198, 0.21);
}

.main .cart img {
    width: 26px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.main .cart .text {
    display: inline-block;
    position: absolute;
    line-height: 0;
    background: rgb(205, 0, 0);
    top: 20px;
    left: 62px;
    padding: 11px 7px;
    border-radius: 40px;
}

.main .cart .text span {
    color: #fff;
    font-weight: 300;
}

.main .logout {
    display: inline-block;
    line-height: 91px;
    padding: 0 44px;
    float: right;
    transition: background 0.3s ease-out;
}

.main .logout:hover {
    background: rgba(147, 167, 198, 0.21);
}

.main .logout img {
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.main .logout .text {
    display: inline-block;
    color: #373e4a;
}

.main .panel {
    height: 120px;
    background: #fff;
    text-align: center;
}

.main .panel .filter {
    width: 92%;
    height: 100%;
    display: inline-block;
    text-align: left;
}

.main .filter .order {
    padding-right: 6%;
    height: 100%;
    display: table;
    float: left;
}

.main .filter .order .order_form {
    display: table-cell;
    vertical-align: middle;
}

.main .filter .order .order_form select {
    padding: 5px 0px;
    width: 190px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
}

.main .filter .order .order_form_title {
    color: #303641;
    font-weight: bold;
}

.main .filter .order .order_form_select_div {
    padding: 0;
    margin: 0;
    width: 170px;
    /* border-radius: 3px; */
    overflow: hidden;
    background-color: #fff;
    background: url(../images/down.png) no-repeat 94%;
    background-size: 9px;
    margin-top: 16px;
    background-color: rgba(79, 129, 171, 0.85);
    padding: 2px 16px;
    color: #fff;
}

.main .filter .search {
    font-size: 1rem;
    height: 100%;
    display: table;
    float: right;
}

.main .filter .search .search_form {
    display: table-cell;
    vertical-align: middle;
}

.main .filter .search input {
    height: 32px;
    border-bottom: 2px solid #bbb;
    padding: 0 10px;
    float: left;
    width: 200px;

    transition: 0.3s ease-out;
}

.main .filter .search input:focus {
    border-color: #3c6689;
}

.main .filter .search_img {
    width: 24px;
    margin-left: 20px;
    cursor: hand;
    cursor: pointer;
}

.main .filter .search .search_mode_form {
    float: left;
    display: inline-block;
    margin-top: 16px;
}

.main .filter .search  .search_mode_form a {
    float: left;
    line-height: 32px;
}

.main .filter .search  .search_mode_form_title {
    color: #666;
}

.main .filter .search  .search_mode_form_select_div {
    padding: 0;
    margin: 0;
    height: 18px;
    width: 150px;
    overflow: hidden;
    background-color: #fff;
    background: url(../images/down.png) no-repeat right;
    background-size: 9px;
    margin-top: 4px;
}

.main .filter .search  .search_mode_form select {
    border-radius: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    height: 18px;
    line-height: 1;
    width: 150px;
    font-size: 0.9rem;
}

.main .filter .stock {
    float: left;
    padding-right: 6%;
    height: 100%;
    display: table;
}

.main .filter .stock .stock_form {
    display: table-cell;
    vertical-align: middle;
}

.main .filter .stock .stock_form_title {
    color: #303641;
    font-weight: bold;
}

.main .filter .stock .stock_form_input {
    width: 12px;
    border-radius: 0;
    height: auto;
    border: none;
    padding: 0;
    margin-top: 4px;
    float: left;
    outline: none;
}

.main .filter .stock input[type=checkbox] {
    display: none;
}

.main .filter .stock .stock_form_checkbox {
    margin-top: 16px;
    padding: 10px 0;
}

.main .filter .stock label {
    cursor: pointer;
    cursor: hand;
    color: #3f4755;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
}

.main .filter .stock label:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #ccc;
    border-radius: 20px;
    border: 3px solid #ccc;
    transition: 0.3s ease-out;
}

.main .filter .stock input[type=checkbox]:checked + label:before {
    background-color: #4e7fa9;
}

select::-ms-expand {
    display: none;
}

.main .info_panel {
    margin: 30px 3%;
}

.main .info_panel .column {
    width: 33%;
    display: inline-block;
}

.main .info_panel .block {
    width: 19%;
    padding: 2% 2%;
    display: inline-block;
    text-align: left;
    border-radius: 6px;
}

.main .info_panel .block .number {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
}

.main .info_panel .block .text {
    font-size: 18px;
    margin-top: 5px;
    color: #fff;
}

.main .info_panel .block.red {
    background: #f56954;
}

.main .info_panel .block.green {
    background: #00a65a;
    margin-left: 2%;
}

.main .info_panel .block.blue {
    background: #00c0ef;
    margin: 0 2%;
}

.main .info_panel .block.blackblue {
    background: #3c89ef;
}

.main .table_panel {
    text-align: center;
    background: #fff;
    margin: 30px 3%;
    padding: 4% 0;
}

.main .table_panel .breadcrumbs {
    text-align: left;
    padding: 0 4%;
    padding-bottom: 4%;
    border-bottom: 1px solid #ccc;
}

.main .table_panel .breadcrumbs li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

.main .table_panel .breadcrumbs li a {
    font-size: 1.6rem;
    color: #373e4a;
}

.main .table_panel .breadcrumbs li img {
    width: 14px;
    margin: 0 26px;
    vertical-align: top;
    margin-top: 13px;
    transform: rotate(-90deg);
}

.main .table_panel table th {
    border-bottom: 4px solid #4e7fa9;
    padding: 13px 10px;
    transition: border 0.15s ease-out;
    color: #4e7fa9;
}

.main .table_panel table td {
    border: 1px solid #ccc;
    padding: 13px 10px;
    transition: border 0.15s ease-out;
}

.main .table_panel table td.into_cart {
    cursor: hand;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.main .table_panel table td.into_cart:hover {
    background: #4e7fa9;
}

.main .table_panel table td.into_cart:hover a {
    color: #fff;
}

.main .table_panel table td.into_cart img {
    width: 22px;
    vertical-align: middle;
    padding: 0 5px;
}

.main .table_panel table {
    border-collapse: collapse;
    width: 94%;
    margin-left: 3%;
    text-align: left;
    margin-top: 20px;
}

.main .table_panel table tr:nth-child(even) {
    background: #eee;
}

.main .table_panel table td:nth-child(2) {
    word-wrap: break-word;
    max-width: 220px;
}

.main .table_panel .paginator {
    text-align: right;
    margin: 40px 3%;
    margin-bottom: 100px;
}

.main .table_panel .paginator li {
    display: inline-block;
    padding: 8px 14px;
    background: #e4e4e4;
    margin-right: 10px;

    cursor: pointer;
    cursor: hand;
}

.main .table_panel .paginator li.active {
    background: #4e7fa9;
    color: #fff;
}

.main footer {
    padding: 30px 3%;
    background: #f1f1f1;
}

.main footer * {
    font-size: 1.1rem;
}

.main input[type="text"], .main input[type="password"] {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #bbb;
    width: 200px;
    padding: 0 10px;
    height: 40px;
    transition: border 0.25s ease-out;
    margin-bottom: 10px;
}

.main input[type="text"]:focus {
    border-color: #4e7fa9;
}

.ajax_loader {
    text-align: center;
    margin-top: 30px;
    display: none;
}

.ajax_loader img {
    display: inline-block;
    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes colorate {
    from {
        background: #4b5565;
    }
    to {
        background: #373e4a;
    }
}

@media screen and (max-width: 1000px) {

    aside {
        position: absolute;
    }

}


.shop-header-container {
    height: 37px;
}

.shop-header {
    background: rgba(31, 49, 66, 0.91);
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 120;
    min-width: 1000px;
}

.shop-header .inside {
    text-align: right;
}

.shop-header .cart {
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    margin-left: 8px;
    border-bottom: 1px solid transparent;
    transition: 0.4s ease-out;
}

.shop-header .cart:hover {
    border-color: #fff;
}

.shop-header .cart.current {
    border-color: #fff;
}

.shop-header .cart img {
    width: 19px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
}

.shop-header .cart .size {
    margin-right: 15px;
    color: #fff;
    font-weight: 700;
}

.shop-header .cart span {
    color: #fff;
}

.shop-header .home {
    float: left;
    display: inline-block;
    padding: 8px 10px;
    text-align: center;
    border-bottom: 1px solid transparent;
    transition: 0.4s ease-out;
}

.shop-header .home:hover {
    border-color: #fff;
}

.shop-header .home.current {
    border-color: #fff;
}

.shop-header .home img {
    width: 20px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.shop-header .home span {
    color: #fff;
}

.shop-header .user {
    display: inline-block;
    margin-left: -4px;
    margin-right: 7px;
    padding: 8px 20px;
    text-align: center;
    border-bottom: 1px solid transparent;
    transition: 0.4s ease-out;

    cursor: pointer;
}

.shop-header .user:hover {
    border-color: #fff;
}

.shop-header .user.current {
    border-color: #fff;
}

.shop-header .user img {
    width: 20px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.shop-header .user span, .shop-header .user a {
    color: #fff;
}

.loader {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    top: 0;
    background: #fff;
    z-index: 130;
}

.cssload-container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -23px;
    margin-top: -23px;
}

.cssload-double-torus {
    width: 47px;
    height: 47px;
    margin: 0 auto;
    border: 4px double;
    border-radius: 50%;
    border-color: transparent rgba(80,121,161,0.9) rgba(80,121,161,0.88);
    animation: cssload-spin 690ms infinite linear;
    -o-animation: cssload-spin 690ms infinite linear;
    -ms-animation: cssload-spin 690ms infinite linear;
    -webkit-animation: cssload-spin 690ms infinite linear;
    -moz-animation: cssload-spin 690ms infinite linear;
}

@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

